body
{
    
    font-family: "Audiowide", sans-serif;
    background-image: url("../img/fundo4.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100vh;

   
    
   

}
.principal
{

   
  /*  border-color: brown;*/
    border-width: 5px;
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top:0px;
    left:0px;
}
.logo
{
    width: 80px;
    z-index: 11;
    position:absolute;
    top:-5px;
    left:30px;
}

.D2
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
}
.D3
{
    /*background-color: brown;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 190px;
    top:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;

}
.D4
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 590px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
    
}
.D5
{
    /*background-color: pink;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 320px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D6
{
    /*background-color: purple;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 460px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D7
{
     /*background-color: purple;*/
     position: absolute;
     width: 150px;
     height: 60px;
     left: 1200px;
     top:15px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     cursor: pointer;
     color: white;
     margin-left: 5px;
     z-index:10;
    
}
.D8
{
   /* background-color: yellow;*/
   position: absolute;
   width: 60px;
   height: 60px;
   left: 1350px;
   top:9px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   cursor: pointer;
   border-radius: 60px;
   color:white;
   margin-left: 28px;
   z-index:10;
}
.D9
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1500px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D12
{
   
    width: 100%;
    height: 82px;
    background-color: rgb(44, 119, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    
     top:0px;
     
    
     

   
    
}



.D3:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}
.D4:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}
.D5:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D6:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}
.D8:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D9:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D2:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.fotoperfil
{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-color: rgba(44, 119, 119, 0.525);
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
   top: 20px;
   left:40px;
    
}
.letraperfil
{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-color: rgb(44, 119, 119);
    font-size: 120px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: -15px;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
.dados
{
    width: 1200px;
    height: 670px;
    background-color: rgba(255, 255, 255, 0.692);
    margin-top:-660px;
    margin-left: 170px;
}
.dados2
{
    width: 1100px;
    height: 440px;
    background-color: black;
    margin-top:640px;
    z-index: 1;
    position: absolute;
    margin-left:950px ;
    flex-direction: row;
    display: flex;
   
}
.email
{
    width: 700px;
    height: 60px;
    z-index: 2;
    position: absolute;
    margin-left: 900px;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: rgba(44, 119, 119, 0.895);
}
.bloco1
{
    background-color: blue;
    width: 50%;
    height: 440px;
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    
}
.bloco2
{
    background-color: brown;
    width: 50%;
    height: 440px;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}
.nome
{
   background-color: brown;
   width: 80%;
   height: 40px;
}
.cpf
{
   background-color: brown;
   width: 80%;
   height: 40px;
}
.telefone
{
   background-color: brown;
   width: 80%;
   height: 40px;
}
.aniversario
{
   background-color: brown;
   width: 80%;
   height: 40px;
}
.login
{
   background-color: brown;
   width: 80%;
   height: 40px;
}
.senha
{
   background-color: brown;
   width: 80%;
   height: 40px;
}
.cep
{
   background-color: blue;
   width: 80%;
   height: 40px;
}
.estado
{
   background-color: blue;
   width: 80%;
   height: 40px;
}
.cidade
{
   background-color: blue;
   width: 80%;
   height: 40px;
}
.bairro
{
   background-color: blue;
   width: 80%;
   height: 40px;
}
.numero
{
   background-color: blue;
   width: 80%;
   height: 40px;
}
.complemento
{
   background-color: blue;
   width: 80%;
   height: 40px;
}