body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,rgb(34, 95, 93), rgb(42, 121, 118),silver);
    overflow: hidden;

}

.principal
{
    width: 99%;
    height: 99vh;
}


.fundo
{
    font-family: "Trirong", serif;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 99vh;

}
.logo
{
    border-radius: 75px;
    position: absolute;
    top: 259px;
    left: 667px; 
    animation: zoomIn 1s;
    width:190px;
}


  

.loading
{
    position: absolute;
    top: 500px;
    left: 720px; 
    font-weight: bold
    
    
}
.pontinhos
{
    position: absolute;
    top: 493px;
    left: 798px; 
    animation:flash 5s infinite linear;
   font-size: 25px;
   font-weight: bold
}


.carregando {
  border: 4px solid #e5e5e5;
  border-top-color: #EF5867;
  height: 200px;
  width: 200px;
  margin-top:250px;
  margin-left: 660px;
  animation: is-rotating 1s infinite;
  border-radius: 50%;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }