body
{
    background-image: url("../img/fundo4.jpg");
    overflow: hidden;
}
.menu
{
    margin-left: 150px;
    width: 80%;
    height: 8vh;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    display: flex;
    background-color: black;
    border-radius: 10px;
}
.ME
{
 font-size: 20px;
 border: none;
 background-color: transparent;
 color: white;
 font-family: "Audiowide", sans-serif;
 cursor: pointer;
 
}
.ME:hover
{
    background-color: rgb(15, 69, 69) ;
    border-radius: 5px;
}
.prin
{
    width: 100%;
    height: 90vh;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    display: flex;
}
.tabela
{
    background-color: rgba(255, 255, 255, 0.708);
    width: 80%;
    height: 75vh;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 8px;
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
    overflow-y: scroll;
}
.verde
{
    color: rgb(21, 78, 84);
    font-size: 18px;
    font-family: cursive;
}
table 
{
    width: 98%;
}
  
th 
{
    height: 70px;
}
td
{
   font-family: cursive; 
   text-align: center;
   font-size: 15px;
}
table, th, td 
{
    border: 1px solid;
}
a
{
    
    color: white;
}