body
        {
            font-family: "Audiowide", sans-serif;
            background-image: url("../img/fundo4.jpg");
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center;
            overflow: hidden;
            
        }
        .d1
        {
           
            width: 900%;
            height: 90vh;
            display: flex;
            margin-left: -650px;
            flex-direction: row;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center;  
        }
        .cadastro
        {

            width: 30%;
            height: 97vh;
            margin-left: -25px;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center; 
        }
        .bordacad
        {
            width: 80%;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
        }
        .letrascadastro
        {
            font-size: 30px;
        }

        .dPessoais
        {
            background:rgba(255, 255, 255, 0.7);
            width: 30%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 40px;
            border-color: rgb(0, 0, 0);
            border-width: 1px;
            border-style: solid;
        }
        .letraspessoais
        {
            font-size: 20px;
            color: rgb(45, 128, 127);
        }

        .dProfissionais
        {
            background:rgba(255, 255, 255, 0.7);
            width: 30%;
            height: 80vh;
            display: flex;
            margin-left: 20px;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 40px;
            border-color: rgb(0, 0, 0);
            border-width: 1px;
            border-style: solid;
        }
        .logo
        {
            margin-top: 40px;
            width: 45%;
            height: 25vh;
        }
        .fieldset1
        {
            width: 250px;
            height: 80px;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 20px;
            flex-direction: column;
            border-style: solid;
            border-color: black;
            border-color: transparent;
             
        } 
        .fieldset2
        {
            width: 80%;
            height: 90px;
            display: flex;
            justify-content:center;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 20px; 
            border-color: transparent; 
            color: rgb(45, 128, 127);
        }
        .fieldset3
        {
            width: 80%;
            height: 60px;
            display: flex;
            justify-content:center;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 5px;
            border-color: transparent;   
            color: rgb(45, 128, 127);
        }
        .botao
        {
        background-color: rgb(45, 128, 127);
        width: 180px;
        height: 50px;
        border-radius: 10px;
        font-size: 15px;
        display: flex;
        justify-content:center;
        justify-items: center;
        align-content: center;
        align-items: center;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
        }
        a
        {
            text-decoration: none;
            color: white;
        }

        input
        {
            width: 100%;
           
        }
        .caixa
        {
            width: 100%;
            height: 4vh;
            border-color:rgb(0, 0, 0);
            border-style: solid;
            border-radius: 5px;
        }
        .caixa2
        {
            width: 100%;
            height: 4vh;
            border-color:rgb(0, 0, 0);
            border-style: solid;
            border-radius: 5px;
            border-width: 1px;
        }  
        .caixa3
        {
            width: 100%;
            height: 3vh;
            border-color:rgb(0, 0, 0);
            border-style: solid;
            border-radius: 5px;
            border-width: 1px;
        }   
        .certo
    {
        background-color: rgb(189, 238, 189);
        color: rgb(22, 107, 36);
    }

    .errado
    {
        background-color: rgba(124, 9, 9, 0.856);
        color: white;
    }    