body
{
    
    font-family: "Audiowide", sans-serif;
    background-image: url("img/fundo4.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100vh;

   
    
   

}
.principal
{

   
    /*border-color: brown;*/
    border-width: 5px;
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top:0px;
    left:0px;
}
.logo
{
    width: 80px;
    z-index: 11;
    position:absolute;
    top:-5px;
    left:30px;
}

.D2
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
}
.D3
{
    /*background-color: brown;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 190px;
    top:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;

}
.D4
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 590px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
    
}
.D5
{
    /*background-color: pink;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 320px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D6
{
    /*background-color: purple;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 460px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D7
{
     /*background-color: purple;*/
     position: absolute;
     width: 150px;
     height: 60px;
     left: 1200px;
     top:15px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     cursor: pointer;
     color: white;
     margin-left: 5px;
     z-index:10;
    
}
.D8
{
   /* background-color: yellow;*/
   position: absolute;
   width: 60px;
   height: 60px;
   left: 1350px;
   top:9px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   cursor: pointer;
   border-radius: 60px;
   color:white;
   margin-left: 28px;
   z-index:10;
}
.D9
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1500px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D12
{
   
    width: 100%;
    height: 82px;
    background-color: rgb(44, 119, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    
     top:0px;
     
    
     

   
    
}



.D3:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D4:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D5:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}
.D6:hover
{ 
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D8:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}
.D9:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D2:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));

}
.D13
{
    position: relative;
    background-color: purple;
    top: -130px;
    left:650px; 
    width: 50%;
    height: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;

}
.logoescrita
{
    font-family: "Pinyon Script" ;
    font-size: 98px;
    width:1500px;
    height: 500px;
    top: 100px;
    margin-left: 650px;
    z-index: 13px;
    margin-top:-130px ;
    
    

}
/* {
    position: absolute;
    top: 300px;
    left:80px; 
    background-color: black;
    width: 500px;
    height: 500px;
}
/*.imagemcoxinha
{
    position: absolute;
    top: 300px;
    left:80px;
    width: 1000px;
    height: 500px;

}*/




a
{
    text-decoration: none;
    color:white;
}

.propaganda
{
    /*background-color: red;*/
    height: 400px;
    width:100%;
    display: flex;
    flex-direction:row;
    top: 140px;
    position: relative;


   

}

.todas
{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    animation: deslizar 2s;
    width: 400px;
    
}

.img_legenda
{
    position: relative;
   
    width: 300px;
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    margin-top: 120px;
    background-color: rgba(50, 102, 94, 0.589);
}
.img_legenda:hover
{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}
.carrossel
{
    height: 500px;
    width: 500%;
    display: flex;
    flex-direction:row;
    /*background-color: yellow;*/
    justify-items: center;
    align-content: center;
    align-items: center; 
    margin-top:150px ;
    margin-left: 15px;
    overflow: hidden;
   
    

}

.teste
{
     animation: deslizar2 5s forwards;

}

@keyframes deslizar2
{
 0%{margin-left:40px; }
 100% {margin-left:-600px;}
}
.teste2
{
     animation: deslizar3 5s forwards;

}

@keyframes deslizar3
{
 0%{margin-left:-600px; }
 100% {margin-left:40px;}
}





.preco
{
    width: 250px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: space-around;
     justify-items: flex-end;
     align-content: center;
     align-items: center; 
     flex-direction: column;
     color:white;
    TOP:270PX;
    position: absolute;
     bottom: 0px;

}
.botaodeslizar
{
    position:absolute;
    width: 60px;
    height: 60px;
    right: 30px;
    top:685px;
    z-index: 10;
    
}
.botaodeslizar2
{
  
    position:absolute;
    width: 60px;
    height: 60px;
    right: 1480px;
    top:680px;
    z-index: 10;

}
.titulo
{
    font-size: 60px;
    top: 150px;
    height: 100px;
    width: 300px;
    z-index: 250;
    left:70px;
    color: rgb(50, 102, 94);
    position: absolute;

}
.subtitulo
{
    font-family: 'Dancing Script', cursive; 
    position: absolute;
    top: 120px;
    left:470px; 
    z-index: 10;
    font-size: 100px;

}
.personalize
{
    top:50px;
    
}

.botaoescolha {
    top:100px;
  }
  
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 70px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-white {
    background-color:rgba(50, 102, 94, 0.994) ;
    color:white;
    top:700px;
    left:600px;
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 10;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn-white::after {
    background-color:rgba(0, 0, 0, 0.414);
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
            animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  
  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .notificacao
{
    background-color: yellow;
    width: 300px;
    height: 70px;
    left: 1200px;
    top:725px;
    position: absolute;
    z-index: 100;
}
.botaomenu
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    margin-left:250px;
    top: 0px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}


.botaomenu:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaoenvelope
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-color:black;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 10;
   
}
.envelope2
{
    animation: mostrar_botaoenvelope 2s forwards;
}
@keyframes mostrar_botaoenvelope
{
    0%{ margin-left:250px;}
    100%{ margin-left:170px}
}
.envelope2_recolher
{
    animation: recolher_botaoenvelope 2s forwards; 
    
}
@keyframes recolher_botaoenvelope
{
    0%{margin-left:170px;}
    100%{margin-left:250px}
}

.botaoenvelope:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaoestrela
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.estrela2
{
    animation: mostrar_botaoestrela 2s forwards; 
}
@keyframes mostrar_botaoestrela
{
    0%{ margin-left:250px;}
    100%{margin-left:90px}
}
.estrela2_recolher
{
    animation: recolher_botaoestrela 2s forwards; 
    
}
@keyframes recolher_botaoestrela
{
    0%{margin-left:90px;}
    100%{margin-left:250px}
}

.botaoestrela:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaorelogio
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.relogio2
{
    animation: mostrar_botaorelogio 2s forwards; 
}
@keyframes mostrar_botaorelogio
{
    0%{ margin-left:250px;}
    100%{ margin-left:10px}
}
.relogio2_recolher
{
    animation: recolher_botaorelogio 2s forwards; 
    
}
@keyframes recolher_botaorelogio
{
    0%{margin-left:10px;}
    100%{margin-left:250px}
}

.botaorelogio:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaoredes
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.redes2
{
    animation: mostrar_botaoredes 2s forwards; 
    
}
@keyframes mostrar_botaoredes
{
    0%{margin-left:250px;}
    100%{margin-left:-70px}
}
.redes2_recolher
{
    animation: recolher_botaoredes 2s forwards; 
    
}
@keyframes recolher_botaoredes
{
    0%{margin-left:-70px;}
    100%{margin-left:250px}
}

.botaoredes:hover
{
    background-color: rgb(44, 119, 119) ;
}
.mensagem
{
    width: 100px;
    height: 20px;
    background-color: black;
    position: absolute;
    top:50px;
    left:-300px;
    color:white;

}
.faleconosco
{
    height: 400px;
    width: 300px;
    background-color: white;
    top:280px;
    left:1200px;
    position: absolute;
    z-index: 170;
    flex-direction: column;
    display: none;
    opacity: 1;
    box-shadow:3px 3px rgba(0, 0, 0, 0.628) ;
}


.img
{
    margin-left:90px ;
    margin-top:20px;
    width: 260px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /*background-color: black;*/
    border-radius: 470px;
}

.mensagemf
{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    

}
.botao_enviarf
{
   height:30px ;
   width: 100px;
   border-radius: 20px;
   font-family: 'Bebas Neue', cursive;
   font-size: 10px;
   cursor: pointer;
   margin-left: 100px;
   margin-top: 20px;
}
.botao_enviarf:hover
{
    background-color:rgb(39, 104, 104);

}
.titulo
{
    
    font-size:20px;
    margin-top: 20px;
    margin-left: 50px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
   
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


  

.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  transition: opacity 0.3s ease;
}

.description a {
  color: #4A9DF6;
  text-decoration: none;
}
.avaliacao
{
    height: 400px;
    width: 300px;
    background-color: white;
    top:280px;
    left:1200px;
    position: absolute;
    z-index: 50;
    flex-direction: column;
    display: none;
    opacity: 1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    box-shadow:3px 3px rgba(0, 0, 0, 0.628) ;
}

.ESTRELINHA1
{
    height: 50px;
    width: 50px;
    margin-top:150px;

  
    
}

.ESTRELINHA2
{
    height: 50px;
    width: 50px;
    margin-top:150px;
  
    
}
.ESTRELINHA3
{
    height: 50px;
    width: 50px;
    margin-top:150px;
  
    
}
.ESTRELINHA4
{
    height: 50px;
    width: 50px;
    margin-top:150px;
  
    
}
.ESTRELINHA5
{
    height: 50px;
    width: 50px;
    margin-top:150px;
  
    
}

   
.ESTRELINHAS
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    top:100px;
    left:25px;
    position: absolute;


}

.atendimento
{
    height: 400px;
    width: 300px;
    background-color: white;
    top:280px;
    left:1200px;
    position: absolute;
    z-index: 50;
    flex-direction: column;
    display: none;
    opacity: 1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    box-shadow:3px 3px rgba(0, 0, 0, 0.628) ;
}
.sociais
{
    height: 400px;
    width: 300px;
    background-color: white;
    top:280px;
    left:1200px;
    position: absolute;
    z-index: 50;
    flex-direction: column;
    display: none;
    opacity: 1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    box-shadow:3px 3px rgba(0, 0, 0, 0.628) ;
}
.avaliacao p 
{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 10px; 
    margin-left: 90px;
}
.atendimento p 
{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-left: 20px;
   
    
}
.sociais p 
{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 10px; 
    margin-left: 90px;
}
.LOGOESTRELA
{
    MARGIN-TOP:40PX;
    margin-left:100px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.logoredes
{
    MARGIN-TOP:40PX;
    margin-left:100px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.logoatendimento
{
    MARGIN-TOP:40PX;
    margin-left:100px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}