body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-image: url(fundo4.jpg);
    overflow: hidden;
    
}

.mensagem
{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    margin-top: 100px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    

}
.principal
{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
   margin-top: -80px;
    
}
.img
{
    margin-left:200px ;
    margin-top:90px;
    width: 260px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /*background-color: black;*/
    border-radius: 470px;
}
.titulo
{
    font-family: 'Abril Fatface', cursive;
    font-size:80px;
    margin-top: 30px;
    margin-left: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
   
}
.botao_enviar
{
   height:40px ;
   width: 150px;
   border-radius: 20px;
   font-family: 'Bebas Neue', cursive;
   font-size: 20px;
   cursor: pointer;
}
.botao_enviar:hover
{
    background-color:rgb(39, 104, 104);

}
.resposta

{
 font-size: 20px;

}